.group-select  .input-box input.input-text, .group-select  .input-box textarea {
    width: 95%;
    margin-top: 5px;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 10px;
    width:100%
}
.btns-group{
    margin-top: 10px;
}
.form-horizontal .control-label{
    text-align: left;
    font-size: 15px;
}