﻿{% extends "base.html" %}
{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
    {% for occasion in occasions %}
        <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing %}
    {% for outing in outings %}
        <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block content %}
  <!-- end nav --> 
  <!-- main-container -->
  <section class="content-wrapper">
    <div class="container">
      <div class="std">
        <div class="page-not-found wow bounceInRight animated">
          <h3>Oops! The Page you requested was not found!</h3>
          <img src="{{STATIC_URL}}/images/coming-soon-1.png" alt="">
          <div><a href="/"  class="btn-home"><span>Back To Home</span></a></div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  <!--End main-container --> 
