{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block search_engine_block %}
{% endblock %}
<!--<meta name="description" content="">-->
<!--<meta name="author" content="">-->
<!--<title>O4U - Occasions, Outings, Offers and Options</title>-->
<!-- Favicons Icon -->
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66647159-1', 'auto');
  ga('send', 'pageview');

</script>
<meta name="msvalidate.01" content="F674CC35F3B27C0A89E33675C1D7EB8C" />
<meta name="google-site-verification" content="IIn4vzm7_2Iav1P-utikIQ4aq5Dm2iuf0Qmh2A6V13w" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS Style -->
<link rel="stylesheet" href="{{STATIC_URL}}css/animate.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/revslider.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>


<!--<script src="{{STATIC_URL}}js/bootbox.min.js"></script>-->
<!--<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>-->
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>

</head>
<body class="cms-index-index">

<!--<button  id="add-cart1"><input  type="hidden"  id="product_id" name="product_id" value="1" type="hidden">Send an HTTP POST request to a page and get the result back</button>-->
<div class="page">
<!-- Header -->
<!-- Header -->
<header class="header-container">

    <div class="header container">
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12">
                <!-- Header Logo -->
                <a class="logo" title="O4u" href="/"><img alt="O4u" src="{{STATIC_URL}}images/logo.png"></a>
                <!-- End Header Logo -->
            </div>

            <!-- Top Cart -->
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 pull-right">
                <!--<div class="signup"><a title="Login" href="#"><span>Sign up Now</span></a></div>
                <span class="or"> OR </span>-->

                <div class="login">
                    <a title="Login" href="{% url 'user_info:vendor-login' %}">
                        <span>Vendor Log In</span>
                    </a>
                </div>
            </div>
            <!-- End Top Cart -->
        </div>
    </div>
</header>
<!-- end header -->
<!-- Navbar -->
  <nav>
  <div class="container">
  <div class="nav-inner">
  <!-- mobile-menu -->
  <div class="hidden-desktop" id="mobile-menu">
  <ul class="navmenu">
  <li>
  <div class="menutop">
      <div class="toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </div>
      <h2>Menu</h2>
  </div>
  <ul style="display:none;" class="submenu">
  <li>
  <ul class="topnav">
  <li class="level0 nav-1 level-top first parent">
      <a href="/" class="level-top"> <span>Home</span> </a>
  </li>
  <li class="level0 nav-1 level-top parent">
      <a href="#" class="level-top"> <span>Occasions</span> </a>
      <ul class="level0">
          {% block base_occasion_mob %}
          {% endblock %}
      </ul>
  </li>
  <li class="level0 nav-2 level-top parent">
      <a href="grid.html" class="level-top"> <span>Outing</span> </a>
      <ul class="level0">
          {% block base_outing_mob %}
          {% endblock %}

      </ul>
  </li>
  <li class="level0 nav-3 level-top parent">
      <a href="grid.html" class="level-top"> <span>Offers</span> </a>
      <ul class="level0">
          {% block base_offer_mob %}
          {% endblock %}
      </ul>
  </li>
  <li class="level0 nav-4 level-top parent">
      <a href="#" class="level-top"> <span>Options</span> </a>
  </li>
   <li class="level0 nav-3 level-top parent">
      <a href="#" class="level-top"> <span>How O4U works</span> </a>
      <ul class="level0">
          <li class="level1">
              <a href="#"> <span>Pick and Submit</span> </a>
          </li>
          <li class="level1">
              <a href="#"> <span>Instant Call back</span> </a>
          </li>
          <li class="level1">
              <a href="#"> <span>Confirm Booking</span> </a>
          </li>

      </ul>
  </li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <!--navmenu-->
  </div>
  <!--End mobile-menu -->
  <a class="logo-small" title="O4u" href="#"><img alt="O4u" src="{{STATIC_URL}}images/logo-small.png"></a>
  <ul id="nav" class="hidden-xs">
  <li class="level0 parent drop-menu active"><a href='/'><span>Home</span> </a>
  </li>

  <li class="level0 drop-menu ">
      <a href="#" class="level-top"> <span>Occasions</span> </a>

      <ul class="level1" style="display: none;">
          {% block base_occasion %}
          {% endblock %}
      </ul>
  </li>
  <li class="level0 drop-menu ">
      <a href="#" class="level-top"> <span>Outing</span> </a>
        <ul class="level1" style="display: none;">
          {% block base_outing %}
          {% endblock %}
      </ul>
  </li>
  <li class="level0 drop-menu ">
      <a href="#" class="level-top"> <span>Offers</span> </a>

      <ul class="level1" style="display: none;">
          {% block base_offer %}
          {% endblock %}
      </ul>
       </li>
  <li class="level0 nav-5 level-top first ">
      <a href="#" class="level-top"> <span>Options</span> </a>

  </li>
  <li class="nav-custom-link level0 level-top parent"> <a class="level-top" href="#"><span>How O4U Works</span></a>
            <div class="level0-wrapper custom-menu">
              <div class="header-nav-dropdown-wrapper clearer">
                <div class="grid12-5">
                  <div class="custom_img"><img src="{{STATIC_URL}}images/howitworks1.png" alt="custom img1"></div>
                  <p>Pick your service and request for free quote.</p>

                </div>
                <div class="grid12-5">
                  <div class="custom_img"><img src="{{STATIC_URL}}images/howitworks2.png" alt="custom img2"></div>
                  <p>Receive Instant Call Back from Professional.</p>

                </div>
                <div class="grid12-5">
                  <div class="custom_img"><img src="{{STATIC_URL}}images/howitworks3.png" alt="custom img3"></div>
                  <p>Book the vendors matching your preferences.</p>

                </div>
                <div class="grid12-5">
                  <div class="custom_img"><img src="{{STATIC_URL}}images/howitworks4.png" alt="custom img4"></div>
                  <p>Get Customer Support Representative assistance in planning, organising and managing the event.</p>

                </div>
              </div>
            </div>
          </li>

  </ul>
  <div class="top-cart-contain">
      <div class="mini-cart">
            {% block base_cart_sub_screens %}
          {% endblock %}
          {% block base_cart %}
          {% endblock %}
      </div>
      <div id="ajaxconfig_info">
          <a href="#/"></a>
          <input value="" type="hidden">
          <input id="enable_module" value="1" type="hidden">
          <input class="effect_to_cart" value="1" type="hidden">
          <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
      </div>
  </div>
  </div>
  </div>
  </nav>
<!-- end nav -->
  <!-- end breadcrumbs -->
    {% block content %}
    {% endblock %}
  <!--End main-container -->
 <!-- Footer Starts -->
<footer class="footer bounceInUp animated">
    <div class="brand-logo ">
        <div class="container">
            <div class="slider-items-products">
                <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/pai.png" alt="Image"></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/lacasa.png" alt="Image"></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/cystalcafe.png" alt="Image"></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/la-marvella-logo.png" alt="Image"></a>
                        </div>
                           <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/NEWS_CAFE.png" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="#x"><img src="{{STATIC_URL}}images/CapitalClub.png" alt="Image"></a>
                        </div>
                        <!-- End Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="block-subscribe">
                        <div class="newsletter">
                            <form>
                                <h4>I Would Like to </h4>
                                  <input type="text" placeholder="What you want to do?" class="input-text required-entry" title="Options" id="options" name="options">
                                  <button onclick="location.href = '/offers'" class="subscribe" title="Search" type="submit"><span>Search</span>
                                  </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="social">
                        <ul>
                            <li class="fb">
                                <a href="http://www.facebook.com/O4Uindia"></a>
                            </li>
                            <li class="linkedin">
                                <a href="https://www.linkedin.com/company/7572835"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle container">
        <div class="col-md-3 col-sm-4">
            <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page"
  data-href="https://www.facebook.com/O4Uindia"
  data-width="320"
  data-hide-cover="false"
  data-show-facepile="true"
  data-show-posts="false"></div>


            <!--<div class="payment-accept">-->
                <!--<div><img src="{{STATIC_URL}}images/payment-1.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-2.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-3.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-4.png" alt="payment"></div>-->
            <!--</div>-->
        </div>
        <div class="col-md-2 col-sm-4">
            <h4>Information</h4>
            <ul class="links">
                <li><a href="/faq" title="FAQs">FAQs</a></li>
                <!--<li><a href="/" title="Payment">Payment</a></li>-->
                <li><a href="/terms-condition" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-4">
            <h4>Company</h4>
            <ul class="links">
                <!--<li class="first"><a href="#" title="Site Map">Site Map</a></li>-->
                <li><a href="/about_us" title="About Us">About Us</a></li>
                <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                <!--<li><a href="#" title="Suppliers">Vendors</a></li>-->
            </ul>
        </div>
        <div class="col-md-3 col-sm-4">
            <h4>Contact us</h4>
            <div class="contacts-info">
                <address>
                    <i class="add-icon">&nbsp;</i>#14, K.R.Layout, Opp. Inchara Hotel,<br>
J.P.Nagar 6th Phase, Bangalore-78
                </address>
                <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +91 9901119191</div>
                <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:info@o4u.co.in">info@o4u.co.in</a>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-bottom container">
        <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2015 zois. All Rights Reserved.</div>
    </div>
</footer>
<!-- End Footer -->


<!--Whats app code-->
<div class="whats_app_support">
<a href="#" class="open_support">WhatsApp Support</a>
    <h4>Whatsapp us your queries or feedback.</h4>
    <img src="{{STATIC_URL}}images/QRo4u.png" alt="Whatsapp Support" width="100">
    <div class="whats_app_mobile">
                +91 9901119191
                <span>Save this number or scan this QR code.</span>
            </div>
</div>

<!--end whats app-->
</div>
<!-- JavaScript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->

<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/parallax.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/revslider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mobile-menu.min.html"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexslider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cloud-zoom.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/whats_app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootbox.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    function initialize() {
      var mapProp = {
        center:new google.maps.LatLng(12.910491, 77.5857168),
        zoom:12,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<script>
$(document).ready(function(){
     $('body').on('click','.add_cart_second',function(e){
        e.preventDefault();
        $.ajax({
            url: '/sales/add',
            type: 'POST',
            cache: false,
            data: {product_id: $(this).attr("value"),
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
            success: function (result) {
              $("#cart").html(result);
            },
            error: function(xhr, textStatus, errorThrown) {
                     alert("Status: " + textStatus); alert("Error: " + errorThrown);
            }
        });
    });


     $('body').on('click','a.remove-cart',function(event){
        event.preventDefault();
        var  removed_product_id=$(this).attr("value");
         var total_items=parseInt($('#cart-total strong').html());
         $('#cart-total strong').html(parseInt(total_items - 1));


         //var amount_reduce=parseInt($(this).parent().siblings().find('.price').html().slice(1));
         //var total_amount= parseInt($('#cart .top-subtotal span').html().slice(1));
         //var amount_update=total_amount - amount_reduce;
         //$('#cart .top-subtotal span').html('&#8377;'+amount_update);
          $(this).parent().parent().parent().remove();
        $.ajax({
            url: '/sales/remove',
            type: 'POST',
            cache: false,
            data: {product_id: removed_product_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (result) {

                if(total_items==1){
                     $("#cart").html(result);
                }

//              $("#cart").replaceWith(result);
            },
            error: function(xhr, textStatus, errorThrown) {
         alert("Status: " + textStatus); alert("Error: " + errorThrown);
   }
            });
    });
//
$('body').on('submit','#product_addtocart_form',function(e){
        e.preventDefault();
        var formdata_product=new FormData(this);
        $.ajax({
            url: '/sales/add',
            type: 'POST',
            cache: false,
            data: formdata_product,
            contentType: false,
            processData: false,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function(result) {

                     $("#cart").html(result);
                

//              $("#cart").replaceWith(result);
            },
            error: function(xhr, textStatus, errorThrown) {
         alert("Status: " + textStatus); alert("Error: " + errorThrown);
   }
            });

})


//    var page=2;
     $('body').on('click','a.viewmore',function(e){
        e.preventDefault();

        var page=$('#current_page').data('page');
         var sort=$('#current_page').data('sort');
         var pathname = window.location.pathname+'?page='+page+'&sort_by='+sort;

         $('#current_page').remove();
        $.ajax({
            //url: '/occasion/wedding-1/?page='+page,
            url: pathname,
            type: 'GET',
            cache: false,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function (result) {
                console.log(result)
              $(".category-products>.products-grid").append(result);
                console.log($('#current_page').data('page'));
                if($('#current_page').data('page')==0){
                    $('a.viewmore').hide()
                }
            },
            error: function(xhr, textStatus, errorThrown) {
             alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
//         page++
    })


    //contactus form
    $('#contact_us_form').submit(function(e){
         e.preventDefault();
         var formData = new FormData(this);
         $.ajax({
            url: '/contact_us/',
            type: 'POST',
            data:formData,
            contentType: false,
            cache: false,
            processData: false,
            csrfmiddlewaretoken: '{{ csrf_token }}',

            success: function (result) {
                bootbox.dialog({
                      message: result,
                      title: "Your Request Has been Submitted",
                      buttons: {
                        success: {
                          label: "Ok!",
                          className: "btn-success",
                          callback: function() {
                               window.location.href="/";
                          }
                        }

                      }
                    });


            },
            error: function(xhr, textStatus, errorThrown) {
             alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
    })


});
</script>
<script>
    var globalauthvendor = "authenticate_vendor";
   function submit_auth_vendor()
    {
        var email = $("#authenticate_email").val();
        var password = $("#authenticate_password").val();
        var jsonData = { email : email, password: password, csrfmiddlewaretoken:'{{csrf_token}}' };
        var values = JSON.stringify(jsonData);
        console.log(values);
        vendor_process_login(values);
    }

var vendor_process_login = function(values){
        $.ajax({
        type: 'POST',
        url: globalauthvendor,
        data: values,
             contentType: false,
            cache: false,
            processData: false,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        contentType: "application/json"
        })
        .done(function(data) {
                    var json = JSON.parse(data);
                    console.log("json");
                    console.log(json);
                    if(json['result'] == "error") {
                        bootbox.alert(json['message'] , function() {
                      console.log("Alert Callback");
                    });
                    }
                   if(json['result'] == "Success") {
                   window.location.href="/vendor/home";
                    }
        })
    };

</script>

<script>
    $( "#datepicker-cart").datepicker({
        minDate: 1,
        maxDate: 180,
        dateFormat: 'dd-mm-yy'
    });

</script>

<script>

    var globalQuote = "get_quote";
    var globalUserReview = "/catalog/user_review";

    $(document).on('submit','#review-form', function(e){
        e.preventDefault();
        user_review();
    });

    /* Function Submit User Review */
    function user_review()
    {

        var data = gatherUserReviewData();
        var values = JSON.stringify(data);
        console.log(values);
        ajaxUserReview(values);
    }

    var gatherUserReviewData = function(){
        var jsonData = {};

        var sub_service_id = $("#sub_service_id").val();
        var price_rating = $('input[name=price]:checked').val();
        var quality_rating = $('input[name=quality]:checked').val();
        var nickname = $("#nickname_field").val();
        var summary = $("#summary_field").val();
        var comment = $("#review_field").val();

        jsonData = {sub_service_id: sub_service_id, price_rating : price_rating, quality_rating: quality_rating,
        nickname: nickname, summary:summary, comment:comment};
        return jsonData;
    };

    var ajaxUserReview = function(values){
        $.ajax({
        type: 'POST',
        url: globalUserReview,
        data: values,
        contentType: "application/json"
        })
        .done(function(data)
                {
                    console.log(data);
                    if(data == "Failure")
                    {
                        bootbox.alert("Review Failed" , function()
                        {
                            console.log("Alert Callback");
                        });
                    }
                    if(data == "Success")
                    {
                        bootbox.dialog({
                            message: "Your Review Has been Submitted",
                            title: "Review Status",
                            buttons:
                            {
                                success:
                                {
                                    label: "Success!    ",
                                    className: "btn-success",
                                    callback: function()
                                    {
                                        window.location.reload();
                                    }
                                }
                            }
                        });
                    }
                })
        };

    /* End */


    /* Function call to get stores and products */
    function submit_quote()
    {
        var data = gatherFinalData();
        var values = JSON.stringify(data);
        console.log(values);
        ajaxQuote(values);
    }




    var gatherFinalData = function(){
        var jsonData = {};

        var user_name = $("#user_name").val();
        var phone = $("#user_phone").val();
        var email = $("#user_email").val();
        var shipping_address = $("#user_shipping_address").val();
        var event_date = $("#datepicker-cart").val();

        var items = [];
        $(".cart_item_val").filter(function() {
            items.push($(this).attr("value"));
        });
        jsonData = {user_name : user_name , phone : phone, email : email, event_date: event_date, cart_items: items,
        shipping_address:shipping_address};
        return jsonData;
    };


    var ajaxQuote = function(values){
        $.ajax({
        type: 'POST',
        url: globalQuote,
        data: values,
        contentType: "application/json"
        })
        .done(function(data) {
                    var json = JSON.parse(data);
                    if(json['result'] == "error") {
                        bootbox.alert(json['message'] , function() {
                      console.log("Alert Callback");
                    });
                    }
                   if(json['result'] == "Success") {
                   bootbox.dialog({
                      message: json['message'],
                      title: "Your Request Has been Submitted",
                      buttons: {
                        success: {
                          label: "Ok!",
                          className: "btn-success",
                          callback: function() {
                               window.location.href="/";
                          }
                        }

                      }
                });
                    }
        })
    };

</script>




<script type='text/javascript'>
        jQuery(document).ready(function(){
            jQuery('#rev_slider_4').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 770,
                startheight: 460,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,

                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });


      $('.whats_app_support').tabSlideOut({
                tabHandle: '.open_support',                              //class of the element that will be your tab
                imageHeight: '184px',                               //height of tab image
                imageWidth: '27px',                               //width of tab image
                tabLocation: 'right',                               //side of screen where tab lives, top, right, bottom, or left
                speed: 300,                                        //speed of animation
                action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                topPos: '50%',                                  //position from the top
                fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
            });
    $('.whats_app_support').show()
        </script>
</body>
</html>
