{% block base_cart %}
{% with items=cart.get_items items_count=cart.get_items_count %}
        <div id="cart">
        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
            <a href="sales/checkout">
                <div class="cart-box"><span id="cart-total"><strong>{{ items_count  }}</strong> item </span></div>
            </a>
        </div>
        <div>
            <div class="top-cart-content arrow_box">
                {% if items %}
                  <div class="block-subtitle">Recently added item(s)</div>
                  <ul id="cart-sidebar" class="mini-products-list">
                       {% for item in items %}
                        <li class="item last odd">
                          <a class="product-image" href="#" title="  {{ item.product.name }}  ">

                          <img alt="  {{ item.product.name }}  " src="{{ item.product.service_pic.all.0.image.url }}" width="80"></a>

                          <div class="detail-item">
                                <div class="product-details">

                                    <a  href="#" title="{{ item.product.name }}"
                                                              class="remove-cart glyphicon glyphicon-remove" value="{{ item.product.id }}">&nbsp;</a>
                                  <p class="product-name"><a title=" {{ item.product.name }} "> {{ item.product.name }} </a></p>
                              </div>

                              <div class="product-details-bottom">
                                  {% with price=item.pricing.final_amount disprice=item.pricing.get_discounted_price   %}
                                  {% if item.pricing.discount == 0.0 %}
                                  <span class="price">&#8377;{{ price }}</span>
                                  {% else %}
                                  <span class="price">&#8377;{{ disprice }}</span>
                                  {% endif %}
                                  {% endwith %}
                                  <span
                                      class="title-desc">Qty:</span> <strong>1</strong></div>

                          </div>
                      </li>
                    {% endfor %}

                  </ul>
                  <!--<div class="top-subtotal">Subtotal: <span class="price">&#8377;{{ cart.get_sub_total }}</span></div>-->
                  <div class="actions">
                    <button onclick="location.href = '{% url 'sales:display_cart' %}'" class="btn-checkout" type="button" ><span>Checkout</span></button>
                      <button onclick="location.href = '{% url 'sales:display_cart' %}'"  class="view-cart" type="button"><span>View Cart</span></button>
                  </div>
              </div>

                {% else %}
                <div class="block-subtitle">You have no items in your shopping cart.</div>

		        {% endif %}
            </div>
        </div>
        </div>
{% endwith %}
{% endblock %}