﻿

{% extends "base.html" %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}


{% block base_occasion %}
    {% for occasion in occasions %}
        <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing %}
    {% for outing in outings %}
        <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
<!--<div class="page">-->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ul>
          <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&mdash;›</span></li>
          <li class="category13"><strong>About Us</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 wow bounceInUp animated">
          <div class="page-title">
            <h2>Contact Us</h2>
          </div>
          <div class="static-contain">
            <fieldset class="group-select">
              <ul>
                <!--<li id="billing-new-address-form">-->
                <form  method="post"  id="contact_us_form" name="contact_us_form" encrypt="multipart/form-data">
                  {% csrf_token %}
                <li>
                  <fieldset>
                    <legend>New Address</legend>
                    <input type="hidden" name="billing[address_id]" value="" id="billing:address_id">
                    <ul>
                      <li>
                        <div class="customer-name">
                          <div class="input-box name-firstname">
                            <label for="billing:firstname"> First Name<span class="required">*</span></label>
                            <br>
                            <input type="text" id="billing:firstname" name="firstname" value="" title="First Name" class="input-text " required>
                          </div>
                          <div class="input-box name-lastname">
                            <label for="billing:lastname"> Email Address <span class="required">*</span> </label>
                            <br>
                            <input type="email" id="billing:lastname" name="email" value="" title="Email Address" class="input-text" required>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="input-box">
                          <label for="billing:company">Company</label>
                          <br>
                          <input type="text" id="billing:company" name="company" value="" title="Company" class="input-text">
                        </div>
                        <div class="input-box">
                          <label for="billing:email">Mobile Number <span class="required">*</span></label>
                          <br>
                          <input type="tel" pattern="^\d{10}$" name="mobile" id="billing:email" value="" title="Enter 10 Digit valid Mobile Number" class="input-text validate-email" required>
                        </div>
                      </li>
                      <!--<li>
                        <label >Address <span class="required"></span></label>
                        <br>
                        <!--<input type="text" title="Street Address" name="street1"  value="" class="input-text required-entry">
                      </li>
                      <li>
                        <input type="text" title="Street Address 2" name="street2"  value="" class="input-text required-entry">
                      </li>-->
                      <li class="">
                        <label for="comment">Comment<em class="required">*</em></label>
                        <br>
                        <div class="">
                          <textarea name="comment" id="comment" title="Comment" class="required-entry input-text" cols="5" rows="3" required></textarea>
                        </div>
                      </li>
                    </ul>
                  </fieldset>
                </li>
               <li> <span class="require"><em class="required">* </em>Required Fields</span>
                <input type="text" name="hideit" id="hideit" value="">
                <div class="buttons-set">
                  <button type="submit" title="Submit" class="button submit" name="send"> <span> Submit </span> </button>
                </div></li>
                  </form>
              </ul>
            </fieldset>
          </div>
        </section>
        <aside class="col-right sidebar col-sm-3 wow bounceInUp animated">
          <div class="block block-company">
            <div class="block-title">Company </div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd">
                  <a href="/about_us">About Us</a>
                </li>
                <!--<li class="item even"><a href="#">Privacy policy</a></li>-->
                <li class="item  odd"><a href="/terms-condition">Terms of Service</a></li>
                <!--<li class="item even"><a href="#">Search Terms</a></li>-->
                <li class="item last"><a href="/contact_us"><strong>Contact Us</strong></a></li>
              </ol>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
<!--</div>-->




{% endblock content %}

