﻿{% extends "base.html" %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
<section class="main-container col1-layout">
  <div class="main container">
    <div class="col-main">
      <div class="cart wow bounceInUp animated">
        <div class="page-title">
          <h2>Quote</h2>
        </div>
        <div class="table-responsive">
          <form method="post" action="#updatePost/">
            <input type="hidden" value="Vwww7itR3zQFe86m" name="form_key">
            <fieldset>
              <table class="data-table cart-table" id="shopping-cart-table">
                
                <thead>
                  <tr class="first last">
                    <th rowspan="1">&nbsp;</th>
                    <th rowspan="1"><span class="nobr">Product Name</span></th>
                    <!--<th rowspan="1"></th>-->
                    <th colspan="1" class="a-center"><span class="nobr">Unit Price</span></th>
                    <th class="a-center" rowspan="1">Qty</th>
                    <th colspan="1" class="a-center">Subtotal</th>
                    <th class="a-center" rowspan="1">&nbsp;</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr class="first last">
                    <td class="a-right last" colspan="7">
                        <button onclick="location.href = '{% url 'home' %}'" class="button btn-continue" title="Continue" type="button">Continue Shopping</button>
                        </td>

                      <!--<button class="button btn-update" title="Update Cart" value="update_qty" name="update_cart_action" type="submit"><span><span>Update Cart</span></span></button>-->
                      <!--<button id="empty_cart_button" class="button btn-empty" title="Clear Cart" value="empty_cart" name="update_cart_action" type="submit"><span><span>Clear Cart</span></span></button></td>-->
                  </tr>

                </tfoot>
                <tbody>
                {% for item in display_cart_list %}
                    <!--<p id = "display_cart_item" val={{ item.id }} style="display: none"></p>-->
                  <tr class="first odd cart_item_val" value="{{ item.id }}" >
                    <td class="image"><a class="product-image" title="{{item.name}}" href="#"><img width="75" alt="{{ item.name }}" src="{{ item.image}}"></a></td>
                    <td><h2 class="product-name"> <a href="#">{{ item.name }}</a> </h2></td>
                    <!--<td class="a-center"><a title="Edit item parameters" class="edit-bnt" href="#configure/id/15945/"></a></td>-->

                      {% if item.discount == 0.0 %}
                          {% if item.mrp == 0 %}
                          <td class="a-right"><span class="cart-price"> <span class="price">Contact for price</span> </span></td>
                          {% else %}
                          <td class="a-right"><span class="cart-price">&#8377;<span class="price">{{ item.mrp }}</span> </span></td>
                      {% endif %}

                      {% else %}
                      <td class="a-right"><span class="cart-price">&#8377;<span class="price">{{ item.discounted_price }}</span> </span></td>
                    {% endif %}

                    <td class="a-center movewishlist"><input maxlength="12" class="input-text qty" title="Qty" size="4" value="1" name="cart[15945][qty]" readonly></td>
                       {% if item.discount == 0.0 %}
                      {% if item.mrp == 0 %}
                      <td class="a-right"><span class="cart-price"> <span class="price">-</span> </span></td>
                          {% else %}
                      <td class="a-right movewishlist"><span class="cart-price">&#8377;<span class="price">{{ item.mrp }}</span> </span></td>
                      {% endif %}
                      {% else %}
                      <td class="a-right movewishlist"><span class="cart-price">&#8377;<span class="price">{{ item.discounted_price }}</span> </span></td>
                    {% endif %}


                    <!--<td class="a-center last"><a id="remove-cart" class="remove-cart glyphicon-remove button remove-item" title="Remove item" value="{{ item.id }}" href="#"><span><span>Remove item</span></span></a></td>-->
                  </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td class="a-right pull-right"><span class="price">&#8377;{{sub_total}}</span></td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </form>
        </div>
        <!-- BEGIN CART COLLATERALS -->
        <div class="cart-collaterals row">
          <div class="col-sm-5">
            <div class="shipping">
              <h3>Submit Details</h3>
              <div class="shipping-form">
                <form id="shipping-zip-form" action="javascript:submit_quote();">
                 {% csrf_token %}

                  <p>Enter your details to get a call back from our executives .</p>
                  <ul class="form-list">
                    <li>
                      <label class="required" for="city"><em>*</em>City</label>
                      <div class="input-box">
                        <select title="City" class="validate-select" id="city" name="country_id">  
                          <option value="BN">Bangalore</option>
                          
                        </select>
                      </div>
                    </li>
                    <li>
                      <label for="user_name">Name<span class="required">*</span></label>
                      <div class="input-box">
                        <input type="text" value="" name="estimate_postcode" id="user_name" class="input-text validate-postcode" required>
                      </div>
                    </li>
                    <li>
                      <div class="input-box">
                          <label for="user_phone">Mobile Number <span class="required">*</span></label>
                          
                          <input type="tel" pattern="^\d{10}$" name="mobile" id="user_phone" value="" title="Enter 10 Digit valid Mobile Number" class="input-text validate-email" required>
                        </div>
                    </li>
					<li>
                      <label for="user_email">Email ID <span class="required">*</span></label>
                      <div class="input-box">
                        <input type="email" value="" name="estimate_postcode" id="user_email" class="input-text validate-postcode" required>
                      </div>
                    </li>
                      <li>
                      <label for="user_shipping_address">Shipping Address <span class="required">*</span></label>
                      <div class="input-box">
                          <textarea rows="4" cols="100" id="user_shipping_address"  required="required"></textarea>
                      </div>
                    </li>
                    <li>
                      <label for="user_email">Date <span class="required">*</span></label>
                      <div class="input-box">
                        <input type="text" value="" placeholder="" name="datepicker-cart" id="datepicker-cart" class="input-text " required>
                      </div>
                    </li>
                  </ul>
                    <!--<div id="datepicker-cart"></div>-->
                    <!--<label >Event Date <span class="required">*</span></label>-->
                    <!--<div id="datepicker-cart"></div>-->
                  <div class="buttons-set11">
                    <button class="button get-quote"  title="Get a Quote" type="submit"><span>Place Request</span></button>
                  </div>

                  <!--buttons-set11-->
                </form>
              </div>
            </div>
          </div>
          <!--inner--> 
          
        </div>
      </div>
      <!--cart-collaterals-->
    </div>
  </div>
</div>
</section>

{% endblock content %}


