{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Error Log</title>
        <style type="text/css">
            body {margin: 0; padding: 0; min-width: 100%!important;}
            .content {width: 100%; max-width: 600px;}
            .sucess{background-color:#89ff89}
            .error{background-color: #ff5151}
        </style>
    </head>
    <p>Hi {{ email }}</p>
    <p>{{ body }}</p>
    <body yahoo bgcolor="" width="600">
        <table width="100%" bgcolor="" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" width="100%"  align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <table width="100%" cellpadding="10" cellspacing="0" style="padding-bottom:10px">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="o4u.co.in/{% static 'images/logo.png' %}" alt="O4u Logo" height="42" width="125">
                                        </td>
                                        <td style="background-color:#C80000;"><p style="padding:0;color:#fff;font-size:20px;text-align:center">Order Details</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%" style="border:1px solid #C80000" cellpadding="0" cellspacing="0">
                                    <thead style="background-color:#C80000;color:#fff">
                                    <th style="padding:10px;border: 1px solid #ddd;padding:5px">Product ID</th>
                                    <th style="padding:10px;border: 1px solid #ddd;">Product</th>
                                    <th style="padding:10px;border: 1px solid #ddd;">Price</th>
                                    <th style="padding:10px;border: 1px solid #ddd;">Quantity</th>
                                    </thead>
                                    <tbody>
                                        {% for product in product_details %}
                                            <tr >
                                                <td style="text-align:center;padding:10px;border: 1px solid #ddd;">{{ product.product_id }}</td>
                                                <td style="text-align:center;padding:10px;border: 1px solid #ddd;">{{ product.product }}</td>
                                                <td style="text-align:center;padding:10px;border: 1px solid #ddd;">{{ product.price }}</td>
                                                <td style="text-align:center;padding:10px;border: 1px solid #ddd;">{{ product.quantity }}</td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="10" style="padding-bottom:10px">
                                    <tbody>
                                    <tr>
                                        <td>&copy; Copyrights 2015, O4U</td>
                                        <!--<td><p style="text-align: right"><a href="#" >Click here to view in Browser</a></p></td>-->

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
