{% extends "base.html" %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
    {% for occasion in occasions %}
        <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing %}
    {% for outing in outings %}
        <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
  
<section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="cart wow bounceInUp animated">
          <div class="page-title new_page_title">
            <h2>Frequently Asked Questions</h2>
          </div>
          <div class="panel-group accordion-faq" id="faq-accordion">
            {% for display in QA %}
                <div class="panel">
                  <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="#{{ forloop.counter }}" class="collapsed"> <span class="arrow-down">+</span> <span class="arrow-up">&#8211;</span> {{ display.question }}</a> </div>
                  <div id="{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body"> {{ display.answer }} </div>
                  </div>
                </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>  

{% endblock content %}