
{% for obj in leaf %}
    <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
    <div class="col-item">
        {% if obj.price.0.discount > 0 %}
                                        <div class="sale-label sale-top-right">{{obj.price.0.discount}}% off</div>
        {% endif %}
        <div class="product-image-area">
            <a class="product-image" title="{{ obj.name }}" href="{{ obj.url }}"> <img src="{{ obj.image }}" class="img-responsive" alt="o4u" /> </a>
        </div>

        <div class="info">
            <div class="info-inner">
                <div class="item-title"><a title=" {{ obj.name }}" href="{{ obj.url }}"> {{ obj.name }}</a></div>
                <!--item-title-->
                <div class="item-content">
                    <div class="ratings">
                        <div class="rating-box">
                            <div class="rating" style="width:calc(2*{{ obj.avg_rating }}0%)"></div>
                        </div>
                    </div>
                     <div class="price-box">
                        {% if obj.price|length == 0 %}
                        <span class="regular-price"> <span class="price">Contact for price</span> </span>
                        {% elif obj.price.0.discount == 0 %}
                        <span class="regular-price">
                            <span class="pricepretext">{{ obj.price.0.displayprice.0|safe }}</span>
                            <span class="price">{{ obj.price.0.displayprice.1 }}</span>
                            <span class="priceposttext">{{ obj.price.0.displayprice.2 }}</span>
                        </span>
                        {% else %}
                        <p class="special-price"><span class="price">{{ obj.price.0.displayprice.0|safe }}</span><span class="price">{{obj.price.0.discounted_price}}</span><span class="price">{{ obj.price.0.displayprice.2 }}</span></p>
                      <p class="old-price"><span class="pricepretext">{{obj.price.0.displayprice.0|safe}}</span><span class="price">{{obj.price.0.mrp}}{{obj.price.0.displayprice.2}}</span></p>
                        {% endif %}
                    </div>
                </div>
                <!--item-content-->
            </div>
            <!--info-inner-->
            <div class="actions">
                <button type="button" value="{{ obj.id }}" onclick="location.href='{{ obj.url }}'"  title="Get Details" class="button" ><span>View Details</span>
            </div>

            <!--actions-->
            <div class="clearfix" data-check="{{page}}"></div>
        </div>
    </div>
</li>

{% endfor %}
 <input type="hidden" id="current_page" data-page="{{page}}">
