﻿{% extends "base.html" %}

{% block search_engine_block %}
<meta name="description" content="O4U - Making your moments of celebration extra special.All kinds of celebrations like Occasions Outings Offers Discounts Coupons Offers">
<meta name="keywords" content="Indian Wedding Planning Website, Wedding Photography, Real Wedding, Indian Wedding Vendors, Wedding Vendor, Indian Wedding Website, Indian Wedding Site, Local Vendors, Wedding Planner, Indian Wedding Planning, Wedding Planning Bangalore, Occasion planner bangalore, Outings planner bangalore, Wedding planner bangalore, Engagements planner bangalore, Birthday planner bangalore, party, corporate event planner, team outings bangalore, farm houses, outdoor activities, cakes bangalore, caterers bangalore, balloon decorators bangalore, performing artists bangalore, cars on rent bangalore, flower decorators bangalore">
<meta name="author" content="O4U Bangalore">
<title>O4U Services Occasions, Outings, Offers and Options</title>
{% endblock %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}



{% block base_occasion %}
    {% for occasion in occasions %}
        <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing %}
    {% for outing in outings %}
        <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
  <!-- end nav -->
  <!-- header service -->
  <div class="header-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-truck">&nbsp;</div>
            <span>Free Samples</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-support">&nbsp;</div>
            <span>Customer Support Service</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-money">&nbsp;</div>
            <span>Best Price Guarantee</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="content">
            <div class="icon-dis">&nbsp;</div>
            <span>5% discount on all orders</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header service --> 
  <!-- Slider -->
  <div id="magik-slideshow" class="magik-slideshow">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12 col-md-8 wow bounceInUp animated">
          <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>

              <ul>
                  {% for banner in banners %}
                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='{{STATIC_URL}}images/slider_img1.jpg'> <img src='{{banner.image}}' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
                  <div    class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='40'  data-y='30'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>{{banner.header_text}}</div>
                  <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='40'  data-y='75'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>{{banner.middle_text}}</div>
                  <div    class='tp-caption sfb  tp-resizeme ' data-x='40'  data-y='360'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>
                    {% if banner.button1_text %}
                    <a href='{{ banner.button1_action_url }}' class="view-more">{{banner.button1_text}}</a>
                    {% endif %}
                    {% if banner.button2_text %}
                    <a href='{{ banner.button2_action_url }}' class="buy-btn">{{banner.button2_text}}</a>
                    {% endif %}
                  </div>
                  <div    class='tp-caption Title sft  tp-resizeme ' data-x='40'  data-y='150'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>{{banner.footer_text}}</div>
                </li>
                  {% endfor %}
                </ul>

              <div class="tp-bannertimer"></div>
            </div>
          </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-4 wow bounceInUp animated">
            {% for extra in extras %}
          <div class="RHS-banner">

      <div class="add">
          <a {% if extra.action_url|length  > 2 %}  href="{{ extra.action_url }} {% endif %}">
          <img alt="banner-img" src="{{ extra.image }}">
        </a>
      </div>
          </div>
            {% endfor %}
          <!--<div class="RHS-banner">-->
            <!--<div class="add"><a href="#"><img alt="banner-img" src="{{STATIC_URL}}images/RHS-women-banner.png"></a></div>-->
          <!--</div>-->
        </aside>
      </div>
    </div>
  </div>
  <!-- end Slider --> 
  <!-- offer banner section -->
  <!--<div class="offer-banner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xs-12 col-sm-4 wow bounceInUp animated"><a href="#"><img alt="offer banner1" src="images/offer-banner1.png"></a></div>
        <div class="col-lg-8 col-xs-12 col-sm-8 wow bounceInUp animated"><a href="#"><img alt="offer banner3" src="images/handbags-promo-banner.png"></a></div>
      </div>
    </div>
  </div>-->
  <!-- end offer banner section --> 
  <!-- main container -->

  <section class="main-container col1-layout home-content-container">
    <div class="container">
      <div class="std">
        <div class="best-seller-pro wow bounceInUp animated">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Occasions</h2>
            </div>
            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col4">
                <!-- Item -->
                  {% for occasion in occasions %}
                <div class="item">
                  <div class="col-item">
                    <div class="product-image-area"> <a class="product-image" href="occasion/{{ occasion.slug }}"> <img src="{{ occasion.image }}" class="img-responsive" alt="product-image" /> </a></div>
                    <div class="info">
                      <div class="info-inner">
                        <div class="item-title"> <a title=" occasion.name" href="occasion/{{ occasion.slug }}"> {{ occasion.name }} </a> </div>
                        <!--item-title-->
                        <!--<div class="item-content">-->
                          <!--<div class="ratings">-->
                            <!--<div class="rating-box">-->
                              <!--<div class="rating"></div>-->
                            <!--</div>-->
                          <!--</div>-->

                        <!--</div>-->
                        <!--item-content--> 
                      </div>
                      <!--info-inner-->
                      <div class="actions">
                        <button onclick="location.href='occasion/{{ occasion.slug }}'" type="button" title="Add to Cart" class="button btn-cart"><span>Details</span></button>
                      </div>
                      <!--actions-->
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End main container -->
  <!-- middle slider -->
  <section class="middle-slider container services_offered_home">
    <div class="row">
                <h2 class="category-pro-title text-center"><span>Services offered  </span></h2>
 {% for service in services%}
      <div class="col-sm-4 wow bounceInUp">
        <div class="inner-div">
          <h2 class="category-pro-title"><span></span></h2>
          <div class="category-products">
            <div class="products small-list">

              <div class="item">
                <div class="item-area">
                  <div class="product-image-area"> <a href="{{ service.url }}" class="product-image"> <img src="{{ service.logo }}" alt=""> </a> </div>
                  <div class="details-area">
                    <h2 class="product-name"><a href="{{ service.url }}">{{service.name}}</a></h2>
                    <!--<div class="ratings">-->
                      <!--<div class="rating-box">-->
                        <!--<div class="rating"></div>-->
                      <!--</div>-->
                    <!--</div>-->
                    
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
       {% endfor %}

    </div>
  </section>

  <!-- Featured Slider -->
  <section class="featured-pro wow animated parallax parallax-2">
    <div class="container">
      <div class="std">
        <div class="slider-items-products">
          <div class="featured_title center">
            <h2>Outing</h2>
          </div>
          <div id="featured-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4"> 
              <!-- Item -->
                {% for outing in outings %}
              <div class="item">
                <div class="col-item">
                  
                  <div class="product-image-area"> <a class="product-image" title="{{outing.name}}" href="outing/{{ outing.slug }}"> <img src="{{ outing.image }}" class="img-responsive" alt="a" /> </a></div>

                  <div class="info">
                    <div class="info-inner">
                      <div class="item-title"> <a title=" Resort" href="outing/{{ outing.slug }}l"> {{ outing.name }} </a> </div>
                      <!--item-title-->
                      <!--<div class="item-content">-->
                        <!--<div class="ratings">-->
                          <!--<div class="rating-box">-->
                            <!--<div class="rating"></div>-->
                          <!--</div>-->
                        <!--</div>-->

                      <!--</div>-->
                      <!--item-content--> 
                    </div>
                    <!--info-inner-->
                    <div class="actions">
                      
                      <button onclick="location.href='outing/{{ outing.slug }}'" type="button" title="Add to Cart" class="button btn-cart"><span>Details</span></button>
                    </div>
                    <!--actions-->
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
                {% endfor %}
              <!-- End Item --> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Featured Slider --> 


  <section class="main-container col1-layout home-content-container">
    <div class="container">
      <div class="std">
        <div class="best-seller-pro wow bounceInUp animated">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Offers</h2>
            </div>
            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col4">
                <!-- Item -->
                 {% for offer in offers %}
                <div class="item">
                  <div class="col-item">
                    <div class="product-image-area"> <a class="product-image" href="offer/{{ offer.slug }}"> <img src="{{ offer.image }}" class="img-responsive" alt="" /> </a></div>
                    <div class="info">
                      <div class="info-inner">
                        <div class="item-title"> <a title=" offer.name" href="offer/{{ offer.slug }}"> {{ offer.name }} </a> </div>
                        <!--item-title-->
                        <!--<div class="item-content">-->
                          <!--<div class="ratings">-->
                            <!--<div class="rating-box">-->
                              <!--<div class="rating"></div>-->
                            <!--</div>-->
                          <!--</div>-->

                        <!--</div>-->
                        <!--item-content-->
                      </div>
                      <!--info-inner-->
                      <div class="actions">

                        <button onclick="location.href='offer/{{ offer.slug }}'" type="button" title="Add to Cart" class="button btn-cart"><span>Details</span></button>
                      </div>
                      <!--actions-->
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
