﻿{% extends "base.html" %}


{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}


{% block content %}
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>Login or Create an Account</h2>
        </div>
        <fieldset class="col2-set">
          <legend>Login or Create an Account</legend>
          <!--<div class="col-1 new-users"><strong>New Customers</strong>-->
            <!--<div class="content">-->
              <!--<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>-->
              <!--<div class="buttons-set">-->
                <!--<button class="button create-account" type="button"><span>Create an Account</span></button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


          <div class="col-1 registered-users"><strong>Registered Customers</strong>
            <!--<form action="/authenticate_vendor/" method="POST" id="post-vendor-form">-->
                  <form id="authenticate-zip-form" action="javascript:submit_auth_vendor();">
                 {% csrf_token %}
            <!--< class="content">-->
              <p>If you have an account with us, please log in.</p>
              <ul class="form-list">

                <li>
                  <label for="authenticate_email">Email Address <span class="required">*</span></label>
                  <br>
                  <!--<input type="email" id="billing:lastname" name="email" value="" title="Email Address" class="input-text" required>-->

                  <input type="email" title="Email Address" class="input-text required-entry" id="authenticate_email" value="" name="email" required>
                </li>
                <li>
                  <label for="authenticate_password">Password <span class="required">*</span></label>
                  <br>
                  <input type="password" title="Password" id="authenticate_password" class="input-text required-entry validate-password" name="password" required>
                </li>
              </ul>
              <p class="required">* Required Fields</p>
              <div class="buttons-set">
                <button id="send2" name="send" type="submit" class="button login"><span>Login</span></button>
                <!--<a class="forgot-word" href="#">Forgot Your Password?</a>-->
              </div>
            </div>
             </form>
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
{% endblock content %}

