﻿{% extends "base.html" %}

{% block search_engine_block %}
<meta name="description" content="{{general_description}}">
<meta name="keywords" content="{{tags}}">
<meta name="author" content="O4U Bangalore">
<title>O4U Services Occasions, Outings, Offers and Options</title>
{% endblock %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}


{% block content %}

    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="home"><a href="/">Home<span>&mdash;›</span></a></li>
                    {% for heading in navigation_headings %}
                        {% if not forloop.last %}
                            <li class=""><a href="{{ heading.url }}">{{ heading.name }}<span>&mdash;›</span></a></li>
                        {% else %}
                            <li class="category13"><a href="{{ heading.url }}"><strong>{{ heading.name }}</strong></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs -->
    <!-- Two columns content -->
    <section class="main-container col2-left-layout">
        <!-- category banner -->
        <div class="category-description std container">
            <div class="slider-items-products">
                <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col1">
                        {% for banner in banners %}
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img alt="" src="{{ banner.image }}"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- category banner -->
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
                    <div class="category-title">
                        <h1>{{ heading }}</h1>
                    </div>
                    {% if search|length > 0 %}
                    <div class="category-list">
          <h3>Refine Search</h3>
                    <div class="row">
          <div class="col-sm-12 category-list">
          <ul>
                    {% for key,value in search.items %}
                    <li><a href="{{value.0}}">{{key}} ({{value.1}})</a></li>
                    {% endfor %}
                    </ul>
          </div>
          </div>

          </div>
                    {% endif %}

                    <div class="category-products">
                        <ul class="products-grid row" >
                            {% for obj in leaf %}
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="col-item">
                                    {% if obj.price.0.discount > 0 %}
                                        <div class="sale-label sale-top-right">{{obj.price.0.discount}}% off</div>
                                    {% endif %}
                                    <div class="product-image-area">
                                        <a class="product-image" title="{{ obj.name }}" href="{{ obj.url }}"> <img src="{{ obj.image }}" class="img-responsive" alt="o4u" /> </a>
                                    </div>

                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title=" {{ obj.name }}" href="{{ obj.url }}"> {{ obj.name }}</a></div>
                                            <!--itfem-title-->
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:calc(2*{{ obj.avg_rating }}0%)"></div>
                                                    </div>
                                                </div>

                                                <div class="price-box">
                                                    {% if obj.price|length == 0 %}
                                                    <span class="regular-price"> <span class="price">Contact for price</span> </span>
                                                    {% elif obj.price.0.discount == 0 %}
                                                    <span class="regular-price">
                                                        <span class="pricepretext">{{ obj.price.0.displayprice.0|safe }}</span>
                                                        <span class="price">{{ obj.price.0.displayprice.1 }}</span>
                                                        <span class="priceposttext">{{ obj.price.0.displayprice.2 }}</span>
                                                    </span>
                                                    {% else %}
                                                    <p class="special-price"><span class="price">{{ obj.price.0.displayprice.0|safe }}</span><span class="price">{{obj.price.0.discounted_price}}</span><span class="price">{{ obj.price.0.displayprice.2 }}</span></p>
                                                  <p class="old-price"><span class="pricepretext">{{obj.price.0.displayprice.0|safe}}</span><span class="price">{{obj.price.0.mrp}}{{obj.price.0.displayprice.2}}</span></p>
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                        <div class="actions">
                                            <!--<button type="button" value="{{ obj.id }}" title="Add to Cart" class="button btn-cart add-cart add_cart_second" ><span>Add to Cart</span>-->
                                            <button type="button" value="{{ obj.id }}" onclick="location.href='{{ obj.url }}'"  title="Get Details" class="button" ><span>View Details</span>

                                                <input  type="hidden"  id="product_id" name="product_id" value="{{ obj.id }}" type="hidden">
                                            </button>
                                        </div>
                                        <!--actions-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <input type="hidden" id="current_page" data-page="{{page}}" data-sort="{{sort}}">
                        </ul>
                        <br>
                         {% if page > 0 %}
                            <div class="text-center">
                             <a  href="#" class="viewmore button " style="display: inline-block; width: 100%;" data-page="{{page}}" data-sort="{{sort}}"><b><span>VIEW MORE</span></b></a>
                           </div>
                         {% endif %}
                    </div>
                </div>
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                    <div class="side-nav-categories">
                        <div class="block-title"> Categories</div>
                        <div class="box-content box-category">
                            <ul id="magicat">
                                {% for menu in left_menu %}
                                <li class="level0- level0 "> <span class="magicat-cat"><a href="{{ menu.url }}"><span>{{ menu.name }}</span></a>
                                    </span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="block block-layered-nav">
                        <div class="block-title">Sort By</div>
                        <div class="block-content">
                            <p class="block-subtitle"></p>
                            <dl id="narrow-by-list">

                                <dd class="odd">
                                    <ol>
                                        {% for heading in navigation_headings %}
                                        {% if forloop.last %}
                                        <li><a href="{{heading.url}}?sort_by=name"><span class="price">Name</span> (A-Z) <span class="price"></span></a>
                                        </li>
                                        <li><a href="{{heading.url}}?sort_by=-name"><span class="price">Name</span> (Z-A) <span class="price"></span></a>
                                        </li>
                                        <li><a href="{{heading.url}}?sort_by=mrp"><span class="price">Price</span> (Low-High) <span class="price"></span></a>
                                        </li>
                                        <li><a href="{{heading.url}}?sort_by=-mrp"><span class="price">Price</span> (High-Low) <span class="price"></span></a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ol>
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <div class="block block-cart">
                        <div class="block-title ">My Cart</div>
                        <div class="block-content">
                        <div class="summary">
                            {% with total=cart.get_sub_total items_count=cart.get_items_count %}
                            <p class="amount">There are <a href="#">{{items_count}} items</a> in your cart.</p>
                            <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">{{total}}</span> </p>
                            {% endwith %}
                        </div>
                            <div class="ajax-checkout">
                                <button onclick="location.href = '/sales/cart';" type="submit" title="Submit" class="button button-checkout"><span>Checkout</span></button>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Two columns content -->
{% endblock content %}