{% extends "base.html" %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}


{% block content %}

    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="home"><a href="/">Home<span>&mdash;›</span></a></li>
                    {% for heading in navigation_headings %}
                        {% if not forloop.last %}
                            <li class="">{{ heading }}<span>&mdash;›</span></li>
                        {% else %}
                            <li class="category13"><strong>{{ heading }}</strong></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs -->
    <!-- Two columns content -->
    <section class="main-container col2-left-layout">
        <!-- category banner -->
        <div class="category-description std container">
            <div class="slider-items-products">
                <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col1">
                        {% for banner in banners %}
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img alt="" src="{{ banner.image }}"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- category banner -->
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
                    <div class="category-title">
                        <h1>{{ heading }}</h1>
                    </div>
                    <div class="category-products">
                        <ul class="products-grid" row>
                            {% for obj in leaf %}
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="col-item">
                                    <div class="product-image-area">
                                        <a class="product-image" title="{{ obj.name }}" href="{{ obj.url }}"> <img src="{{ obj.image }}" class="img-responsive" alt="o4u" /> </a>
                                    </div>

                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title=" {{ obj.name }}" href="{{ obj.url }}"> {{ obj.name }}</a></div>
                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating"></div>
                                                    </div>
                                                </div>
                                                <div class="price-box"><span class="regular-price"> <span class="price">&#8377;{{ obj.mrp }}</span> </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                        <div class="actions">
                                            <button type="button" value="{{ obj.id }}" title="Add to Cart" class="button btn-cart add-cart" ><span>Add to Cart</span>

                                                <input  type="hidden"  id="product_id" name="product_id" value="{{ obj.id }}" type="hidden">
                                            </button>
                                        </div>
                                        <!--actions-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                            <div class="text-center">
                             <a  href="#" class="viewmore button " data-page="2">View more</a>
                        </div>
                    </div>
                </div>
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                    <div class="side-nav-categories">
                        <div class="block-title"> Categories</div>
                        <div class="box-content box-category">
                            <ul id="magicat">
                                {% for menu in left_menu %}
                                <li class="level0- level0 "> <span class="magicat-cat"><a href="{{ menu.url }}"><span>{{ menu.name }}</span></a>
                                    </span>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="block block-layered-nav">
                        <div class="block-title">Filter By</div>
                        <div class="block-content">
                            <p class="block-subtitle">Shopping Options</p>
                            <dl id="narrow-by-list">
                                <dt class="odd">Price</dt>
                                <dd class="odd">
                                    <ol>
                                        <li><a href="#"><span class="price">&#8377;0.00</span> - <span class="price">&#8377;1000.00</span></a> (6)
                                        </li>
                                        <li><a href="#"><span class="price">&#8377;1000.00</span> and above</a> (6)</li>
                                    </ol>
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <div class="block block-cart">
                        <div class="block-title ">My Cart</div>
                        <div class="block-content">

                            <div class="ajax-checkout">
                                <button onclick="location.href = '/sales/cart';" type="submit" title="Submit" class="button button-checkout"><span>Checkout</span></button>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Two columns content -->
{% endblock content %}