﻿{% extends "base.html" %}

{% block search_engine_block %}
<meta name="description" content="{{general_description}}">
<meta name="keywords" content="{{tags}}">
<meta name="author" content="O4U Bangalore">
<title>O4U Services Occasions, Outings, Offers and Options</title>
{% endblock %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
  <!-- end breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ul>
                  <li class="home"><a href="/">Home<span>&mdash;›</span></a></li>
                    {% for heading in navigation_headings %}
                        {% if not forloop.last %}
                            <li class=""><a href="{{ heading.url }}">{{ heading.name }}<span>&mdash;›</span></a></li>
                        {% else %}
                            <li class="category13"><a href="{{ heading.url }}"><strong>{{ heading.name }}</strong></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  <!-- end breadcrumbs -->
  <!-- main-container -->

  <section class="main-container col1-layout">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view wow bounceInUp animated">
            <div class="product-essential">
              <form action="#" method="post" id="product_addtocart_form">
                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                <div class="product-img-box col-lg-5 col-sm-5 col-md-5 col-xs-12 wow bounceInRight animated">
                    {% if price.0.discount > 0 %}
                  <div class="sale-label new-top-left" id="detail-new"> {{price.0.discount}}% off </div>
                    {% endif %}
                  <div class="product-image">
                    <div class="large-image"> <a href="{{ first_image }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img src="{{ first_image }}" alt=""> </a> </div>
                    <div class="flexslider flexslider-thumb">
                      <ul class="previews-list slides">
                        {% for image in images %}
                        <li><a href='{{ image.image }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ image.image }}' "><img src="{{ image.image }}" alt = "Thumbnail 1"/></a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- end: more-images -->
                  <div class="clear"></div>
                </div>


                <div class="product-shop col-lg-4 col-sm-4 col-xs-12">
                  <div class="product-next-prev">
                    {% if next_url != None %}
                      <a class="product-next" href="{{ next_url }}"><span></span></a>
                    {% endif %}
                    {% if prev_url != None %}
                      <a class="product-prev" href="{{prev_url}}"><span></span></a>
                    {% endif %}
                  </div>
                  <div class="product-name">
                    <h1>{{ name }}</h1>
                    <h4>{{service_name}}</h4>
                    {% if vt_url|length > 0 %}
                    <a href="/virtual-tour/{{ssname}}" value="{{ssname}}"><img src="{{STATIC_URL}}images/icon-virtual-tour.png"></img></a>
                    {% endif %}
                  </div>
                  <div class="ratings">
                    <div class="rating-box">
                        <div class="rating" style="width:calc(2*{{ average_rating }}0%)"></div>
                    </div>
                    <p class="rating-links">
                        {% if reviews_count ==  0 %}
                            <a> No Reviews </a>
                        {% elif  reviews_count == 1 %}
                           <a> {{ reviews_count }} Review </a>
                        {% else %}
                            <a> {{ reviews_count }} Review(s) </a>
                        {% endif %}
                    </p>
                  </div>

                  <!-- DROPDOWN -->
                  {% if price|length > 0 %}
                  <input type="hidden" name="price_id" value="{{price.0.id}}">
                  {% endif %}
                  <input type="hidden" name="product_id" value={{id}}>

                  {% if price|length > 1 %}
                      {% for s,v in specs.items %}
                          <div class="form-group required">
                            <label class="control-label" for="input-option217">{{s}}</label>
                              <select   id="input-option217" class="input-text ">
                                  {% for t in v %}
                                            <option value="{{t}}" >{{t}}
                                            </option>
                                {% endfor %}

                              </select>
                          </div>
                       {% endfor %}
                  {% endif %}
                  {% if price|length > 0 %}
                    <p class="availability in-stock"><span>In Stock</span></p>
                  {% endif %}


                  <div class="price-block">
                    <div class="price-box">
                      {% if price|length == 0 %}
                        <p class="special-price">
                            <span class="price-label">Regular Price:</span>
                            <span class="price"> Contact for Price </span>
                        </p>
                        {% else %}
                            {% if price.0.mrp == price.0.displayprice.1 %}
                                <p class="special-price">
                                    <span class="price-label">Regular Price:</span>
                                    <span class="pricepretext">{{ price.0.displayprice.0|safe }}</span>
                                    <span class="price">{{ price.0.displayprice.1 }}</span>
                                    <span class="priceposttext">{{ price.0.displayprice.2 }}</span>
                                </p>
                            {% else %}
                                <p class="old-price">
                                    <span class="price-label">Regular Price:</span>
                                    <span class="price1">{{ price.0.displayprice.0|safe }}</span><span class="price"> {{price.0.mrp}} </span>
                                </p>
                                <p class="special-price">
                                    <span class="price-label">Regular Price:</span>
                                    <span class="pricepretext">{{ price.0.displayprice.0|safe }}</span>
                                    <span class="price">{{ price.0.displayprice.1 }}</span>
                                    <span class="priceposttext">{{ price.0.displayprice.2 }}</span>
                                </p>

                            {% endif %}
                         {% endif %}
                    </div>
                  </div>
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{ gist|safe }}</p>
                  </div>
                  <div class="add-to-box">
                    <!--<div class="add-to-cart">-->
                      <!--<label for="qty">Quantity:</label>-->
                      <!--<div class="pull-left">-->
                        <!--<div class="custom pull-left">-->
                          <!--<input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">-->
                          <!--<button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>-->
                          <!--<button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value&#45;&#45;;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>-->
                        <!--</div>-->
                      <!--</div>-->
                      <div class="">
                        <button  id="sub_service_id" class="button btn-cart add-cart" title="Add to Cart" type="submit"  value="{{ id }}" ><span><i class="icon-basket"></i> Add to Cart</span>

                        </button>
                      </div>
                    </div>
                  </div>
                <!--</div>-->
				<aside class="col-lg-3 col-sm-3 col-xs-12">
                     <div id="googleMap" style="width:260px;height:260px;map:width:260px;"></div>
                    <br>
				<!--<div class="brand-img">	<a target="_blank" href="#">-->
		<!--<img src="{{STATIC_URL}}images/brand-logo.png" alt="">-->
		<!--</a>-->
	<!--</div>-->

        <div class="product-sibebar-banner">
            <div class="text-banner">
                <a href="#" title="Text Banner"><img id="rhs-img" src="{{STATIC_URL}}images/best-price-promise.jpg" alt=""></a>

            </div>
        </div>
                </aside>
              </form>
            </div>
            <div class="product-collateral">
              <div class="col-sm-12 wow bounceInUp animated">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a> </li>
                  <!--<li><a href="#product_tabs_tags" data-toggle="tab">Tags</a></li>-->
                  <li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
                  <!--<li> <a href="#product_tabs_custom" data-toggle="tab">Custom Tab</a> </li>-->
                  <!--<li> <a href="#product_tabs_custom1" data-toggle="tab">Custom Tab1</a> </li>-->
                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="product_tabs_description">
                    <div class="std">

                      <p>{{ description|safe }}</p>
                      {% for spec in product_specs %}
                      <p><b>{{ spec.name }} :</b></b> {{ spec.value }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <!--<div class="tab-pane fade" id="product_tabs_tags">-->
                    <!--<div class="box-collateral box-tags">-->
                      <!--<div class="tags">-->
                        <!--<form id="addTagForm" action="#" method="get">-->
                          <!--<div class="form-add-tags">-->
                            <!--<label for="productTagName">Add Tags:</label>-->
                            <!--<div class="input-box">-->
                              <!--<input class="input-text required-entry" name="productTagName" id="productTagName" type="text">-->
                              <!--<button type="button" title="Add Tags" class=" button btn-add" onClick="submitTagForm()"> <span>Add Tags</span> </button>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;input-box&ndash;&gt;-->
                          <!--</div>-->
                        <!--</form>-->
                      <!--</div>-->
                      <!--&lt;!&ndash;tags&ndash;&gt;-->
                      <!--<p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="tab-pane fade" id="reviews_tabs">
                    <div class="box-collateral box-reviews" id="customer-reviews">
                      <div class="box-reviews1">
                        <div class="form-add">
                          <form id="review-form">
                            <h3>Write Your Own Review</h3>
                            <fieldset>
                              <h4>How do you rate this product? <em class="required">*</em></h4>
                              <span id="input-message-box"></span>
                              <table id="product-review-table" class="data-table">

                                <thead>
                                  <tr class="first last">
                                    <th>&nbsp;</th>
                                    <th><span class="nobr">1 *</span></th>
                                    <th><span class="nobr">2 *</span></th>
                                    <th><span class="nobr">3 *</span></th>
                                    <th><span class="nobr">4 *</span></th>
                                    <th><span class="nobr">5 *</span></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="first odd">
                                    <th>Price</th>
                                    <td class="value"><input type="radio" class="radio" value="1" id="Price_1" name="price" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="2" id="Price_2" name="price" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="3" id="Price_3" name="price" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="4" id="Price_4" name="price" required=""></td>
                                    <td class="value last"><input type="radio" class="radio" value="5" id="Price_5" name="price" required=""></td>
                                  </tr>
                                  <tr class="even">
                                    <th>Quality</th>
                                    <td class="value"><input type="radio" class="radio" value="1" id="Value_1" name="quality" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="2" id="Value_2" name="quality" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="3" id="Value_3" name="quality" required=""></td>
                                    <td class="value"><input type="radio" class="radio" value="4" id="Value_4" name="quality" required=""></td>
                                    <td class="value last"><input type="radio" class="radio" value="5" id="Value_5" name="quality" required=""></td>
                                  </tr>
                                </tbody>
                              </table>
                              <input type="hidden" value="" class="validate-rating" name="validate_rating">
                              <div class="review1">
                                <ul class="form-list">
                                  <li>
                                    <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                    <div class="input-box">
                                      <input type="text" class="input-text required-entry" id="nickname_field" name="nickname" required>
                                    </div>
                                  </li>
                                  <li>
                                    <label class="required" for="summary_field">Summary<em>*</em></label>
                                    <div class="input-box">
                                      <input type="text" class="input-text required-entry" id="summary_field" name="title" required>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="review2">
                                <ul>
                                  <li>
                                    <label class="required label-wide" for="review_field">Review<em>*</em></label>
                                    <div class="input-box">
                                      <textarea class="required-entry" rows="3" cols="5" id="review_field" name="detail" required=""></textarea>
                                    </div>
                                  </li>
                                </ul>
                                <div class="buttons-set">
                                  <button type="submit"   title="Submit" class="button btn-cart submit">

                                    <span>Submit Review</span>
                                  </button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>

                      <div class="box-reviews2">
                          {% if user_reviews|length > 0 %}
                        <h3>Customer Reviews</h3>
                           {% endif %}
                        <div class="box visible">
                          <ul>
                            {% for user_review in user_reviews %}
                            <li>
                              <table class="ratings-table">

                                <tbody>
                                  <tr>
                                    <th>Price</th>
                                    <td><div class="rating-box">
                                        <div class="rating" style="width:calc(2*{{ user_review.price_rating }}0%)"></div>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <th>Quality</th>
                                    <td><div class="rating-box">
                                      <div class="rating" style="width:calc(2*{{ user_review.quality_rating }}0%)"></div>
                                      </div></td>
                                  </tr>

                                </tbody>
                              </table>
                              <div class="review">
                                  <h6>{{ user_review.summary }}</h6>
                                  <small>Review by <span> {{ user_review.nickname }} </span>on {{ user_review.created_on }} </small>
                                  <div class="review-txt"> {{ user_review.comment }} </div>

                                <!--<h6><a href="#/catalog/product/view/id/61/">Excellent</a></h6>-->
                                <!--<small>Review by <span>Deepthi </span>on 01/10/2015 </small>-->
                                <!--<div class="review-txt"> Nice.</div>-->

                              </div>
                            </li>
                            {% endfor %}

                          </ul>
                        </div>
                        <!--<div class="actions"> <a class="button view-all" id="revies-button"><span><span>View all</span></span></a> </div>-->
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-sm-12">
                <div class="box-additional">
                  <div class="related-pro wow bounceInUp animated">
                    <div class="slider-items-products">
                      <div class="new_title center">
                        <h2>Related Products</h2>
                      </div>
                      <div id="related-products-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4">

                          {% for related_product in related_products %}
                          <!-- Item -->
                          <div class="item">
                            <div class="col-item">
                              <!--<div class="sale-label sale-top-right">Sale</div>-->
                                <div class="product-image-area"> <a class="product-image" title="{{related_product.name}}" href="{{related_product.url}}"> <img src="{{ related_product.image }}" class="img-responsive" alt="a" /> </a></div>
                              <div class="info">
                                <div class="info-inner">
                                  <div class="item-title"> <a href="{{related_product.url}}" title=" {{related_product.name}}"> {{ related_product.name }}</a> </div>
                                  <!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings">
                                      <div class="rating-box">
                                          <div class="rating" style="width:calc(2*{{ related_product.avg_rating }}0%)"></div>
                                      </div>
                                    </div>
                                    <div class="price-box">
                                      {% if related_product.price.0.mrp == 0 %}
                                        <p class="special-price"> <span class="price-label">Contact for price</span> <span class="price"> &#8377;Contact for price </span> </p>
                                      {% else %}
                                        <p class="special-price"> <span class="price-label">Regular Price</span> <span class="price"> &#8377;{{ related_product.price.0.mrp }} {{ related_product.price.0.type }} </span> </p>
                                      {% endif %}
                                    </div>
                                  </div>
                                  <!--item-content-->
                                </div>
                                <!--info-inner-->
                                <div class="actions">
                                  <button onclick="location.href='{{related_product.url}}'" type="button"  title="Details" class="button btn-cart"><span>Details</span></button>
                                </div>
                                <!--actions-->

                                <div class="clearfix"> </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Item -->
                          {% endfor %}

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End main-container -->
{% if price|length > 1 %}
    {% if specs|length > 1 %}
        <script>
            var data2 = {{ finalpricing|safe}};


            $('#product_addtocart_form select:first').change(function()
            {
                console.log(data2);
                var first_one=this.value;
                var second_one= $('#product_addtocart_form select:last').val();

                if (data2[first_one][second_one][4] > 0)
                {
                    if (data2[first_one][second_one][0] == data2[first_one][second_one][4])
                    {
                        $('.price-box .special-price .price').html(data2[first_one][second_one][0]);
                        $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                        $('.price-box .old-price .price').hide();
                        $('.price-box .old-price .price1').hide();
                        $('.product-img-box .sale-label').hide();
                    }
                    else
                    {
                        $('.price-box .special-price .price').html(data2[first_one][second_one][4]);
                        $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                        $('.price-box .old-price .price').html(data2[first_one][second_one][0]).show();
                        $('.price-box .old-price .price1').show();
                        $('.product-img-box .sale-label').html(data2[first_one][second_one][3]+"% off").show();


                    }
                }
                else
                {
                    $('.price-box .special-price .price').html(data2[first_one][second_one][0]);
                    $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                    $('.price-box .old-price .price').hide();
                    $('.price-box .old-price .price1').hide();
                    $('.product-img-box .sale-label').hide();
                }

                $('input[name="price_id"]').val(data2[first_one][second_one][1])

            });

            $('#product_addtocart_form select:last').change(function()
            {
                console.log(data2);
                var second_one=this.value;
                var first_one= $('#product_addtocart_form select:first').val();

                if (data2[first_one][second_one][4] > 0)
                {
                    if (data2[first_one][second_one][0] == data2[first_one][second_one][4])
                    {
                        $('.price-box .special-price .price').html(data2[first_one][second_one][0]);
                        $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                        $('.price-box .old-price .price').hide();
                        $('.price-box .old-price .price1').hide();
                        $('.product-img-box .sale-label').hide();
                    }
                    else
                    {
                        $('.price-box .special-price .price').html(data2[first_one][second_one][4]);
                        $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                        $('.price-box .old-price .price').html(data2[first_one][second_one][0]).show();
                        $('.price-box .old-price .price1').show();
                        $('.product-img-box .sale-label').html(data2[first_one][second_one][3]+"% off").show();

                    }
                }
                else
                {
                    $('.price-box .special-price .price').html(data2[first_one][second_one][0]);
                    $('.price-box .special-price .priceposttext').html(" "+data2[first_one][second_one][2]);
                    $('.price-box .old-price .price').hide();
                    $('.price-box .old-price .price1').hide();
                    $('.product-img-box .sale-label').hide();
                }

                $('input[name="price_id"]').val(data2[first_one][second_one][1])


            });
        </script>
    {% elif specs|length == 1 %}
        <script>
            var data2 = {{ finalpricing|safe}};


            $('#product_addtocart_form select:first').change(function()
            {
                var first_one=this.value;

                // if discounted price > 0
                if (data2[first_one][4] > 0)
                {
                    // if mrp == discounted price
                    if (data2[first_one][0] == data2[first_one][4])
                    {
                        $('.price-box .special-price .price').html(data2[first_one][0]);
                        $('.price-box .special-price .priceposttext').html(" " + data2[first_one][2]);
                        $('.price-box .old-price .price').hide();
                        $('.price-box .old-price .price1').hide();
                        $('.product-img-box .sale-label').hide();
                    }
                    else
                    {
                        $('.price-box .special-price .price').html(data2[first_one][4]);
                        $('.price-box .special-price .priceposttext').html(" " + data2[first_one][2]);
                        $('.price-box .old-price .price').html(data2[first_one][0]).show();
                        $('.price-box .old-price .price1').show();
                        $('.product-img-box .sale-label').html(data2[first_one][3]+"% off").show();;
                    }
                }
                else
                {
                    $('.price-box .special-price .price').html(data2[first_one][0]);
                    $('.price-box .special-price .priceposttext').html(" " + data2[first_one][2]);
                    $('.price-box .old-price .price').hide();
                    $('.price-box .old-price .price1').hide();
                    $('.product-img-box .sale-label').hide();
                }

                $('input[name=price_id]').val(data2[first_one][1]);

            });

        </script>
    {% endif %}
{% endif %}
{% endblock content %}
