{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>O4U - Occasions, Outings, Offers and Options</title>
<!-- Favicons Icon -->
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66647159-1', 'auto');
  ga('send', 'pageview');

</script>
<meta name="msvalidate.01" content="F674CC35F3B27C0A89E33675C1D7EB8C" />
<meta name="google-site-verification" content="IIn4vzm7_2Iav1P-utikIQ4aq5Dm2iuf0Qmh2A6V13w" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS Style -->
<link rel="stylesheet" href="{{STATIC_URL}}css/animate.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/vendor_css.css" type="text/css">

<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<!--<script src="{{STATIC_URL}}js/bootbox.min.js"></script>-->
<!--<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>-->
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>

</head>
<body class="cms-index-index">

<!--<button  id="add-cart1"><input  type="hidden"  id="product_id" name="product_id" value="1" type="hidden">Send an HTTP POST request to a page and get the result back</button>-->
<div class="page">
<!-- Header -->
<!-- Header -->
<header class="header-container">

    <div class="header container">
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12">
                <!-- Header Logo -->
                <a class="logo" title="O4u" href="/"><img alt="O4u" src="{{STATIC_URL}}images/logo.png"></a>
                <!-- End Header Logo -->
            </div>

            <!-- Top Cart -->
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 pull-right">
                <!--<div class="signup"><a title="Login" href="#"><span>Sign up Now</span></a></div>
                <span class="or"> OR </span>-->

                <div class="logout" style="margin-left: 20px;" >
                    <a title="Logout" href="{% url 'user_info:vendor-logout' %}">
                    {% block logout_vendor %}

                    {% endblock %}
                        </a>
                </div>

                <div class="login">
                    <a title="Login" href="#">
                    {% block welcome_vendor %}

                    {% endblock %}
                        </a>
                </div>

            </div>
            <!-- End Top Cart -->
        </div>
    </div>
</header>
<!-- end header -->
<!-- Navbar -->
  <nav>
  <div class="container">
  <div class="nav-inner">
  <!-- mobile-menu -->
  <div class="hidden-desktop" id="mobile-menu">
  <ul class="navmenu">
  <li>
  <div class="menutop">
      <div class="toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </div>
      <h2>Menu</h2>
  </div>
  <ul style="display:none;" class="submenu">
  <li>
  <ul class="topnav">
  <li class="level0 nav-1 level-top first parent">
      <a href="/vendor_dashboard" class="level-top"> <span>Dashboard</span> </a>
  </li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <!--navmenu-->
  </div>
  <!--End mobile-menu -->
  <a class="logo-small" title="O4u" href="#"><img alt="O4u" src="{{STATIC_URL}}images/logo-small.png"></a>
  <ul id="nav" class="hidden-xs">
  <li class="level0 parent drop-menu active"><a href='/vendor_dashboard'><span>Dashboard</span> </a>
  </li>


  </ul>
  <div class="top-cart-contain">
      <div class="mini-cart">
           <div id="cart">
        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
            <p><i class="fa fa-cog"></i></p>
        </div>
               </div>
      </div>

  </div>
  </div>
  </div>
  </nav>
<!-- end nav -->
  <!-- end breadcrumbs -->
    {% block content %}
    {% endblock %}
  <!--End main-container -->
 <!-- Footer Starts -->
<footer class="footer ">


    <div class="footer-middle container">
        <div class="col-md-3 col-sm-4">
            <div class="footer-logo">
                <a title="Logo"><img src="{{STATIC_URL}}images/logo-footer.png" alt="logo"></a>
            </div>

            <!--<div class="payment-accept">-->
                <!--<div><img src="{{STATIC_URL}}images/payment-1.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-2.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-3.png" alt="payment"> <img src="{{STATIC_URL}}images/payment-4.png" alt="payment"></div>-->
            <!--</div>-->
        </div>
        <div class="col-md-2 col-sm-4">
            <h4>Information</h4>
            <ul class="links">
                <li><a href="/faq" title="FAQs">FAQs</a></li>
                <!--<li><a href="/" title="Payment">Payment</a></li>-->
                <li><a href="/terms-condition" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-4">
            <h4>Company</h4>
            <ul class="links">
                <!--<li class="first"><a href="#" title="Site Map">Site Map</a></li>-->
                <li><a href="/about_us" title="About Us">About Us</a></li>
                <li><a href="/contact_us" title="Contact Us">Contact Us</a></li>
                <!--<li><a href="#" title="Suppliers">Vendors</a></li>-->
            </ul>
        </div>
        <div class="col-md-3 col-sm-4">
            <h4>Contact us</h4>
            <div class="contacts-info">
                <address>
                    <i class="add-icon">&nbsp;</i>J P NAGAR, 6TH PHASE
                    <br> &nbsp;BANGALORE , INDIA
                </address>
                <div class="phone-footer"><i class="phone-icon">&nbsp;</i> +91 9901119191</div>
                <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:info@o4u.co.in">info@o4u.co.in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom container">
        <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2015 zois. All Rights Reserved.</div>
    </div>
</footer>
<!-- End Footer -->


</div>
<!-- JavaScript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/parallax.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/common_dashboard.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mobile-menu.min.html"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootbox.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>

     var dateToday = new Date();

    // for content

     $( "#fromdate" ).datepicker({
       minDate: dateToday,
     onClose: function( selectedDate ) {
        $( "#todate" ).datepicker( "option", "minDate", selectedDate );
      },
      onSelect: function(selectedDate) {
             var option = this.class == "#fromdate" ? "minDate" : "maxDate",
              instance = $(this).data("datepicker"),
              date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
         }
    });
    $( "#todate" ).datepicker({
        minDate: dateToday,
      changeMonth: true,

      onClose: function( selectedDate ) {
        $( "#fromdate" ).datepicker( "option", "maxDate", selectedDate );
      }
    });


    //edit offer
    $('body').on('click','.edit_offer',function(e){
        e.preventDefault();
        $.ajax({
            url: '/edit/offer/',
            type: 'POST',
            cache: false,
            data: {product_id: $(this).attr("value"),
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            beforeSend: function() {
//				$('#cart > button').button('loading');
			},
			complete: function() {
//				$('#cart > button').button('reset');
			},
            success: function (result) {
//              $("#cart").html(result);
            },
            error: function(xhr, textStatus, errorThrown) {
                     alert("Status: " + textStatus); alert("Error: " + errorThrown);
            }
        });
    });


</script>

<script>

    var globalDeleteSubService = "del_sub_service";

    /* Function call delete sub service */
    function delete_sub_service(id)
    {
        var data = {sub_service_id : id };
        var values = JSON.stringify(data);
        ajaxDeleteSubService(values);
    }

    var ajaxDeleteSubService = function(values){
        $.ajax({
        type: 'POST',
        url: globalDeleteSubService,
        data: values,
        contentType: "application/json"
        })
        .done(function(data) {
                    if(data == "Failure")
                    {
                        bootbox.alert("Could not Delete Your Offer!" , function()
                        {
                            console.log("Alert Callback");
                        });
                    }
                    if(data == "Success")
                    {
                        bootbox.dialog({
                            message: "Offer Successfully deleted!",
                            title: "Status",
                            buttons:
                            {
                                success:
                                {
                                    label: "Success!    ",
                                    className: "btn-success",
                                    callback: function()
                                    {
                                        window.location.reload();
                                    }
                                }
                            }
                        });
                    }
        })
    };

</script>


<script>

    var globalQuote = "get_quote";
    var globalCreateVendorForm = "/vendor/create_sub_service";

    $(document).on('submit','#create-offer', function(e){
        e.preventDefault();
        create_vendor_form();
    });

    function create_vendor_form()
    {
        var data = gatherCreateVendorFormData();
        var values = JSON.stringify(data);
        ajaxCreateVendorForm(values);
    }

    var gatherCreateVendorFormData = function(){
        var jsonData = {};
        var offer_name = $("#create_offer_name").val();
        var offer = $("#create_offer").val();
        var min_bill_amount = $("#create_min_bill").val();
        var from_duration = $("#create_fromdate").val();
        var to_duration = $("#create_todate").val();
        var text_message = $("#create_desc").val();

        jsonData = {offer_name: offer_name, offer : offer, min_bill_amount: min_bill_amount,
        from_duration: from_duration, to_duration:to_duration, text_message:text_message};
        return jsonData;
    };

    var ajaxCreateVendorForm = function(values){
        $.ajax({
        type: 'POST',
        url: globalCreateVendorForm,
        data: values,
        contentType: "application/json"
        })
        .done(function(data)
                {
                    console.log(data);
                    if(data == "Failure")
                    {
                        bootbox.alert("Error : Couldn't Create Form" , function()
                        {
                            console.log("Alert Callback");
                        });
                    }
                    if(data == "Success")
                    {
                        bootbox.dialog({
                            message: "Offer Successfully created. Will be activated Shortly",
                            title: "Status",
                            buttons:
                            {
                                success:
                                {
                                    label: "Success!    ",
                                    className: "btn-success",
                                    callback: function()
                                    {
                                        window.location.assign("/vendor/home");
                                    }
                                }
                            }
                        });
                    }
                })
        };

    /* End */

</script>

<script>

    var sub_service_id = $("#edit_sub_service_id").val();
    var sub_service_url = "/vendor/edit_sub_service_update/";
    var globalEditSubService = sub_service_url.concat(sub_service_id);


    $(document).on('submit','#edit_sub_service', function(e){
        e.preventDefault();
        edit_sub_service();

    });

    /* Function call delete sub service */
    function edit_sub_service()
    {
        var data = gatherEditSubServiceData();
        var values = JSON.stringify(data);
        console.log(values);
        ajaxEditSubService(values);
    }


    var gatherEditSubServiceData = function(){
        var jsonData = {};

        var sub_service_id = $("#edit_sub_service_id").val();
        var name = $("#offer_name").val();
        var gist = $("#offer").val();
        var min_bill_amount = $("#min_bill").val();
        var from_duration = $("#fromdate").val();
        var to_duration = $("#todate").val();
        var text_message = $("#text_message").val();

        jsonData = { sub_service_id: sub_service_id, name: name, gist: gist, min_bill_amount: min_bill_amount,
        from_duration: from_duration, to_duration: to_duration, text_message: text_message};
        return jsonData;
    };

    var ajaxEditSubService = function(values){
        $.ajax({
        type: 'POST',
        url: globalEditSubService,
        data: values,
        contentType: "application/json"
        })
        .done(function(data) {
                    if(data == "Failure")
                    {
                        bootbox.alert("Could not Edit Your Offer!" , function()
                        {
                            console.log("Alert Callback");
                        });
                    }
                    if(data == "Success")
                    {
                        bootbox.dialog({
                            message: "Offer Successfully Edited! Will be activated Shortly ",
                            title: "Status",
                            buttons:
                            {
                                success:
                                {
                                    label: "Success!    ",
                                    className: "btn-success",
                                    callback: function()
                                    {
                                        window.location.assign("/vendor/home");
                                    }
                                }
                            }
                        });
                    }
        })
    };

</script>




</body>
</html>
