{% extends "vendor_base.html" %}

{% block welcome_vendor %}
    <span>Welcome {{ vendor_name }}</span>
{% endblock %}
{% block logout_vendor %}
    <span>Logout</span>
{% endblock %}

{% block content %}
  <!-- Two columns content -->
    <section class="main-container col2-left-layout">

        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 ">
                    <div class="category-title">
                        <h1>Offers List</h1>
                    </div>
                    <div class="category-products">
                        <ul class="products-grid row" >
                            {% for sub_service in sub_services %}
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="col-item">
                                    {% if sub_service.status == 'Active' %}
                                        <div class="new-label new-top-left">{{ sub_service.status }}</div>
                                    {% else %}
                                        <div style="width: 82px" class="sale-label new-top-left">{{ sub_service.status }}</div>
                                    {% endif %}
                                    <div class="product-image-area">
                                        <a class="product-image" title="{{ sub_service.name }}" href="#"> <img src="{{ sub_service.image }}" class="img-responsive" alt="o4u" /> </a>
                                    </div>

                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="{{ sub_service.name }}" href="#">{{ sub_service.name }}</a></div>
                                            <!--itfem-title-->
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating"></div>
                                                    </div>
                                                </div>
                                                {% if sub_service.price|length == 0 %}
                                                <div class="price-box"><span class="regular-price"> <span class="price">Contact for price</span> </span></div>
                                                    {% else %}
                                                <div class="price-box"><span class="regular-price"> <span class="pricepretext">{{ sub_service.price.0.displayprice.0|safe }}</span><span class="price">{{ sub_service.price.0.displayprice.1 }}</span><span class="priceposttext">{{ sub_service.price.0.displayprice.2 }}</span></span></div>

                                                {% endif %}
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                        <div class="actions">

                                            <a href="{% url 'UserInfo:edit-sub-service' sub_service.id %}" ><button type="button" id="edit_ss"  title="Edit" class="button btn-cart" value="{{ sub_service.id }}" >
                                                <span>Edit</span>
                                            </button></a>

                                            <button type="button" id="delete_ss"  title="Delete" class="button btn-cart" value="{{ sub_service.id }}" onclick="delete_sub_service({{ sub_service.id }})">
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                        <!--actions-->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                </li>
                            {% endfor %}

                            <input type="hidden" id="current_page" data-page="{{page}}" data-sort="{{sort}}">
                        </ul>
                        <br>

                            <div class="text-center">
                             <a  href="#" class="viewmore button " style="display: inline-block; width: 100%;" data-page="{{page}}" data-sort="{{sort}}"><b><span>VIEW MORE</span></b></a>
                           </div>
                    </div>
                </div>
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 ">
                    <div class="side-nav-categories">
                        <div class="block-title"> Categories</div>
                        <div class="box-content box-category">
                             <ul id="magicat">
                                <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:create-sub-service' %}"><span>Create</span></a>
                                    </span>
                                </li>
                                 <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:vendor-home' %}"><span>View offers</span></a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </section>
    <!-- End Two columns content -->

{% endblock content %}
