{% extends "vendor_base.html" %}

{% block welcome_vendor %}
    <span>Welcome {{ vendor_name }}</span>
{% endblock %}

{% block logout_vendor %}
    <span>Logout</span>
{% endblock %}

{% block content %}
  <!-- Two columns content -->
    <section class="main-container col2-left-layout">

        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 ">
                    <div class="category-title">
                        <h1>Edit offer</h1>
                    </div>
                    <div class="create_offers">
                        <div class="common-form">
                               <form id="edit_sub_service">

                                      <fieldset class="group-select">
                                          <input id="edit_sub_service_id" type="hidden" value="{{id}}">
                                        <!-- Form Name -->
                                       <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="offer_name">Name</label>
                                          <div class="col-sm-8">
                                            <input type="text" placeholder="" id="offer_name" name="offer_name" class="input-text"  value="{{ name }}" required="">
                                          </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="offer">Offer</label>
                                          <div class="col-sm-8">
                                            <input type="text" placeholder="" id="offer" name="offer" class="input-text" value="{{ offer }}"  required="">
                                          </div>
                                        </div>
                                          <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="min_bill">Discount (%) </label>
                                          <div class="col-sm-8">
                                            <input type="number" min="0" max="100" placeholder="" id="min_bill" name="min_bill" class="input-text" value="{{ min_bill_amount }}" >
                                          </div>
                                        </div>

                                       <!-- Text input-->
                                        <div class="form-group input-box">

                                          <label class="col-sm-4 control-label" for="fromdate">Duration</label>

                                             <div class="col-sm-8 ">
                                               <div class="row">
                                               <div class="col-sm-6">
                                                 <input type="text" id="fromdate" name="fromdate" class="input-text " placeholder="" value="{{ from_duration }}" required="">
                                                </div>


                                                <div class="col-sm-6">
                                                   <input type="text" id="todate" name="todate" class="input-text " placeholder="" value="{{ to_duration }}" required="">
                                                </div>
                                             </div>
                                           </div>
                                        </div>

                                           <!-- Text input-->
                                        <!--<div class="form-group input-box">-->
                                          <!--<label class="col-sm-4 control-label" for="offer_image">Insert Image</label>-->
                                          <!--<div class="col-sm-8">-->
                                            <!--<input type="file" class="input-text" id="offer_image" name="offer_image" accept="image/x-png, image/gif, image/jpeg, image/jpg">-->
                                          <!--</div>-->
                                        <!--</div>-->


                                        <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="text_message">Text Message</label>
                                          <div class="col-sm-8">
                                            <textarea class="input-text" rows="3" name="text_message" id="text_message" placeholder="" required="" >{{ text_message }}</textarea>
                                          </div>
                                        </div>


                                        <div class="form-group input-box btns-group clearfix">
                                          <div class="col-sm-offset-2 col-sm-10">
                                            <div class="pull-right">

                                              <a href="{% url 'UserInfo:edit-sub-service' id %}" >
                                                  <button type="button" class="button submit">Reload</button>
                                              </a>
                                                <button type="submit" class="button submit" id="edit_offer" title="Submit">Update</button>
                                            </div>
                                          </div>
                                        </div>

                                      </fieldset>
                                    </form>
                              </div>
                    </div>
                </div>
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 ">
                    <div class="side-nav-categories">
                        <div class="block-title">Offers Zone</div>
                        <div class="box-content box-category">
                            <ul id="magicat">
                                <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:create-sub-service' %}"><span>Create</span></a>
                                    </span>
                                </li>
                                 <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:vendor-home' %}"><span>View offers</span></a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </section>
    <!-- End Two columns content -->

{% endblock content %}
