{% extends "vendor_base.html" %}
{% block welcome_vendor %}
    <span>Welcome {{ vendor_name }}</span>
{% endblock %}
{% block logout_vendor %}
    <span>Logout</span>
{% endblock %}
{% block content %}
  <!-- Two columns content -->
    <section class="main-container col2-left-layout">

        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-sm-push-3 ">
                    <div class="category-title">
                        <h1>Create New</h1>
                    </div>
                    <div class="create_offers">
                        <div class="common-form">
                               <!--<form class="form-horizontal" role="form" id="create_offer">-->
                               <form id="create-offer">
                                      <fieldset class="group-select">

                                        <!-- Form Name -->
                                       <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="create_offer_name">Name</label>
                                          <div class="col-sm-8">
                                            <input type="text" placeholder="" id="create_offer_name" name="offer_name" class="input-text" required="">
                                          </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="create_offer">Offer</label>
                                          <div class="col-sm-8">
                                            <input type="text" placeholder="" id="create_offer" name="offer" class="input-text " required="">
                                          </div>
                                        </div>
                                          <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="create_min_bill">Discount (%) </label>
                                          <div class="col-sm-8">
                                            <input type="number" min="0"  max="100" placeholder="" id="create_min_bill" name="min_bill" class="input-text" required="">
                                          </div>
                                        </div>

                                       <!-- Text input-->
                                        <div class="form-group input-box">

                                          <label class="col-sm-4 control-label" for="create_fromdate">Duration</label>

                                             <div class="col-sm-8 ">
                                               <div class="row">
                                               <div class="col-sm-6">
                                                 <input type="text" id="create_fromdate" name="create_fromdate" class="input-text " placeholder="From" required="">
                                                </div>


                                                <div class="col-sm-6">
                                                   <input type="text" id="create_todate" name="create_todate" class="input-text " placeholder="To" required="">
                                                </div>
                                             </div>
                                           </div>
                                        </div>


                                           <!-- Text input-->
                                        <!--<div class="form-group input-box">-->
                                          <!--<label class="col-sm-4 control-label" for="offer_image">Insert Image</label>-->
                                          <!--<div class="col-sm-8">-->
                                            <!--<input type="file" class="input-text" id="offer_image" name="offer_image" accept="image/x-png, image/gif, image/jpeg, image/jpg">-->
                                          <!--</div>-->
                                        <!--</div>-->


                                        <!-- Text input-->
                                        <div class="form-group input-box">
                                          <label class="col-sm-4 control-label" for="create_desc">Text Message</label>
                                          <div class="col-sm-8">
                                            <textarea class="input-text" rows="3" name="desc" id="create_desc" placeholder="Your text goes here" required=""></textarea>
                                          </div>
                                        </div>



                                        <div class="form-group input-box btns-group clearfix">
                                          <div class="col-sm-offset-2 col-sm-10">
                                            <div class="pull-right">
                                              <button type="button" class="button submit" id="offer_cancel" onclick="window.location.reload()">Cancel</button>
                                              <button type="submit" class="button submit" id="save_offer" title="Submit">Save</button>
                                            </div>
                                          </div>
                                        </div>

                                      </fieldset>
                                    </form>
                              </div>
                    </div>
                </div>
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 ">
                    <div class="side-nav-categories">
                        <div class="block-title">Offers Zone</div>
                        <div class="box-content box-category">
                            <ul id="magicat">
                                <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:create-sub-service' %}"><span>Create</span></a>
                                    </span>
                                </li>
                                 <li class="level0- level0 "> <span class="magicat-cat"><a href="{% url 'UserInfo:vendor-home' %}"><span>View offers</span></a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </section>
    <!-- End Two columns content -->

{% endblock content %}
