﻿{% extends "base.html" %}

{% block base_occasion_mob %}
    {% for occasion in occasions %}
        <li class="level1"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
    {% endfor %}
{% endblock %}

{% block base_outing_mob %}
    {% for outing in outings %}
        <li class="level1"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
    {% endfor %}
{% endblock %}

{% block base_offer_mob %}
          {% for offer in offers %}
          <li class="level1"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_occasion %}
          {% for occasion in occasions %}
          <li class="level1 nav-10-2"> <a href="/occasion/{{ occasion.slug }}"> <span>{{ occasion.name }}</span> </a> </li>
          {% endfor %}
{% endblock %}

{% block base_outing %}
          {% for outing in outings %}
          <li class="level1 first"><a href="/outing/{{ outing.slug }}"> <span>{{ outing.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_offer %}
          {% for offer in offers %}
          <li class="level1 first"><a href="/offer/{{ offer.slug }}"> <span>{{ offer.name }}</span></a></li>
          {% endfor %}
{% endblock %}

{% block base_cart_sub_screens %}
{% include "cart.html" %}
{% endblock %}

{% block content %}
    <!--<br><div class="container"><iframe title="O4U viewer"  width="100%" height="60%" webkitAllowFullScreen mozallowfullscreen allowFullScreen style="border-style:none;" src="/vrlib/?panorama=/static/images/pano.jpg&autoLoad=true&title=Pai Vista&author=O4U"></iframe></div>!-->
<br><div class="container"><iframe title="O4U viewer"  width="100%" height="60%" webkitAllowFullScreen mozallowfullscreen allowFullScreen style="border-style:none;" src="/vrlib/?tour={{url}}"></iframe></div>
  <!--End main-container -->
{% endblock content %}
